<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="flex-auto"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="h-full">
  <mat-drawer class="w-max" #drawer mode="side" opened>
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{ shoe }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
