<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="flex-auto"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="h-full">
  <mat-drawer class="w-max" #drawer mode="side" opened>
    <mat-list>
      <a mat-list-item matRipple class="no-underline" [routerLink]="['/button-overview']" [routerLinkActive]="'bg-gray-200'"> Buttons </a>
      <a mat-list-item matRipple class="no-underline" [routerLink]="['/table-overview']" [routerLinkActive]="'bg-gray-200'"> Table </a>
      <a mat-list-item matRipple class="no-underline" [routerLink]="['/tooltip-overview']" [routerLinkActive]="'bg-gray-200'"> Tooltip </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="p-4">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
