//Layout
.flex {
  display: flex;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.grid {
  display: grid;
}

//Flexbox & Grid
.flex-col {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.gap-2 {
  gap: 0.5rem;
}

//Spacing
.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

//Sizing
.w-screen {
  width: 100vw;
}

.w-max {
  width: max-content;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

//Typography
.no-underline {
  text-decoration-line: none;
}
