<button mat-stroked-button color="primary" (click)="buttonLoading = !buttonLoading">Change state</button> Loading: {{ buttonLoading }}
<section class="table">
  <div class="table-cell">Basic</div>
  <div class="flex gap-2 p-2">
    <button [appLoading]="buttonLoading" mat-button>Basic</button>
    <button [appLoading]="buttonLoading" mat-button color="primary">Primary</button>
    <button [appLoading]="buttonLoading" mat-button color="accent">Accent</button>
    <button [appLoading]="buttonLoading" mat-button color="warn">Warn</button>
    <button [appLoading]="buttonLoading" mat-button disabled>Disabled</button>
    <a [appLoading]="buttonLoading" mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="table">
  <div class="table-cell">Raised</div>
  <div class="flex gap-2 p-2">
    <button [appLoading]="buttonLoading" mat-raised-button>Basic</button>
    <button [appLoading]="buttonLoading" mat-raised-button color="primary">Primary</button>
    <button [appLoading]="buttonLoading" mat-raised-button color="accent">Accent</button>
    <button [appLoading]="buttonLoading" mat-raised-button color="warn">Warn</button>
    <button [appLoading]="buttonLoading" mat-raised-button disabled>Disabled</button>
    <a [appLoading]="buttonLoading" mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="table">
  <div class="table-cell">Stroked</div>
  <div class="flex gap-2 p-2">
    <button [appLoading]="buttonLoading" mat-stroked-button>Basic</button>
    <button [appLoading]="buttonLoading" mat-stroked-button color="primary">Primary</button>
    <button [appLoading]="buttonLoading" mat-stroked-button color="accent">Accent</button>
    <button [appLoading]="buttonLoading" mat-stroked-button color="warn">Warn</button>
    <button [appLoading]="buttonLoading" mat-stroked-button disabled>Disabled</button>
    <a [appLoading]="buttonLoading" mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="table">
  <div class="table-cell">Flat</div>
  <div class="flex gap-2 p-2">
    <button [appLoading]="buttonLoading" mat-flat-button>Basic</button>
    <button [appLoading]="buttonLoading" mat-flat-button color="primary">Primary</button>
    <button [appLoading]="buttonLoading" mat-flat-button color="accent">Accent</button>
    <button [appLoading]="buttonLoading" mat-flat-button color="warn">Warn</button>
    <button [appLoading]="buttonLoading" mat-flat-button disabled>Disabled</button>
    <a [appLoading]="buttonLoading" mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class="table">
  <div class="table-cell">Icon</div>
  <div class="flex gap-2 p-2">
    <button [appLoading]="buttonLoading" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-icon-button color="primary">
      <mat-icon>home</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-icon-button color="accent">
      <mat-icon>menu</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-icon-button color="warn">
      <mat-icon>favorite</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-icon-button disabled>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</section>
<mat-divider></mat-divider>
<section class="table">
  <div class="table-cell">FAB</div>
  <div class="flex gap-2 p-2">
    <div class="example-button-container">
      <button [appLoading]="buttonLoading" mat-fab color="primary">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button [appLoading]="buttonLoading" mat-fab color="accent">
        <mat-icon>bookmark</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button [appLoading]="buttonLoading" mat-fab color="warn">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="example-button-container">
      <button [appLoading]="buttonLoading" mat-fab disabled>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section class="table">
  <div class="table-cell">Mini FAB</div>
  <div class="flex gap-2 p-2">
    <button [appLoading]="buttonLoading" mat-mini-fab color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-mini-fab color="accent">
      <mat-icon>plus_one</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-mini-fab color="warn">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button [appLoading]="buttonLoading" mat-mini-fab disabled>
      <mat-icon>home</mat-icon>
    </button>
  </div>
</section>
